.card__wrapper {
  box-sizing: border-box;
}

.card__box {
  width: 100%;
}

.card__poster {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 12px;
  height: auto;
}

.card__title {
  margin-top: 14px;
  font-size: 2rem;
  font-weight: 600;
}

.card__title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.0625em;
}

.card__date {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.0625em;
  color: #747474;
}