.card__wrapper {
  display: block;
  text-decoration: none;
  box-sizing: border-box;
  color: inherit;
}

.card__box {
  width: 100%;
  overflow: visible;
}
.card__poster {
  width: 100%;
  aspect-ratio: 2/3;
  border-radius: 12px;
  height: auto;
  border: 3px solid rgba(110, 87, 255, 0);
  box-shadow: 6px 6px 20px 1px rgba(0, 0, 0, 0.17);
  transition: border-color 0.4s ease, transform 0.4s ease;
  transform-origin: center center;
}
.card__title {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 400;
  color: #767676;
  line-height: 1.4;
  letter-spacing: -0.0625em;
  cursor: pointer;
  transition: color 0.4s ease, font-weight 0.4s ease;
}

.card__wrapper:hover .card__poster {
  border-color: rgba(110, 87, 255, 1);
  color: #000000;
  font-weight: 600;
  transform: scale(1.03);
}

.card__wrapper:hover .card__title {
  color: #6E57FF;
  font-weight: 600;
}