.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 70px;
  padding: 0 130px 0 130px;
}
.header__icon {
  font-size: 2.4rem;
  font-weight: 700;
}

.header__loginBox {
  display: flex;
  gap: 14px;
}

.header__login {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.0625em;
  color: #747474;
  border: 1px solid #eeeeee;
  background-color: #ffffff;
  padding: 9px 13px 9px 13px;
  border-radius: 6px;
  cursor: pointer;
}

.header__register {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.0625em;
  color: #ffffff;
  background-color: #747474;
  border: none;
  padding: 9px 13px 9px 13px;
  border-radius: 6px;
  cursor: pointer;
}
